<nav>
  <a href="{{ '/' | relative_url }}" class="nav-name">Dylan Edwards</a>
  <ul class="nav-links">
    <li><a href="{{ '/about' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a></li>
    <li><a href="{{ '/experience' | relative_url }}" {% if page.url == '/experience/' %}class="active"{% endif %}>Experience</a></li>
    <li><a href="{{ '/projects' | relative_url }}" {% if page.url == '/projects/' %}class="active"{% endif %}>Projects</a></li>
    <li><a href="{{ '/research' | relative_url }}" {% if page.url == '/research/' %}class="active"{% endif %}>Research</a></li>
    <li><a href="{{ '/certifications' | relative_url }}" {% if page.url == '/certifications/' %}class="active"{% endif %}>Certifications</a></li>
  </ul>
</nav>
